{% extends "base.html" %}
{% block content %}
<h2>Reverse a WAV File</h2>
<p><em>This will create a reversed version of any individual sample, keeping the original.</em></p>
{% if message %}
  <p class="{{ message_type if message_type else ('success' if success else 'error') }}">{{ message }}</p>
{% endif %}
<form id="reverse-form" method="post" action="{{ host_prefix }}/reverse">
    <input type="hidden" name="action" value="reverse_file">
    <input type="hidden" name="wav_file" id="wav_file" required>
    <div class="file-browser" data-endpoint="{{ host_prefix }}/browse/samples" data-input="wav_file">
        <div class="breadcrumb"></div>
        <ul class="file-list"></ul>
    </div>
    <button type="submit">Reverse</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ host_prefix }}/static/file_browser.js"></script>
{% endblock %}
